PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

RAPIDAPI_KEY=your_rapidapi_key_here
INSTAGRAM_API_HOST=instagram-statistics-api.p.rapidapi.com

BLOCKCHAIN_NETWORK=solana

SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_PRIVATE_KEY=your_solana_private_key_here

SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_api_key
PRIVATE_KEY=your_backend_wallet_private_key_here
CONTRACT_ADDRESS=0x89205A3A3b2A69De6Dbf7f01ED13B2108B2c43e7
